
.register-form-register{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 25%;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(128, 128, 128, 0.158);
    border-radius: 4px;
    box-shadow: 3px 6px 14px #0000002d;

    padding:5px;
}

.register-label
{
    margin-left:20px;
    margin-bottom: -15px;

}

.register-form-submit-register
{
    width: calc(100% - 40px);
}

.error-register{
    margin-left:20px;
    margin-top: -15px;
    margin-bottom: 15px;
    color: red;
}