/* 
admin-user-details
admin-user-container  
    admin-user-box
        admin-user-save
            admin-user-save-container
                admin-user-save-box
                    admin-user-save-form
                        admin-user-save-label
                        admin-user-save-text
                        admin-user-save-select
                        admin-user-save-error
                        admin-user-save-response
        admin-user-list
            admin-user-list-container
                admin-user-list-item
                    admin-user-list-item-container
                        admin-user-list-item-image
                        admin-user-list-item-content
                        admin-user-list-item-details
                        admin-user-list-item-edit
                        
*/

.admin-user-container,.admin-user-box,.admin-user-save,.admin-user-list,.admin-user-save-container{
    width: 100%;
}

.admin-user-container,.admin-user-box{
    height: 100%;
}


/*save*/
.admin-user-box{
    display: flex;
}

.admin-user-save{
    width: 50%;
}

.admin-user-save-container{
    display: flex;
    justify-content: center;
}

/*list*/
.admin-user-list-item{
    margin:20px;
    border-radius: 5px;
    background: rgba(102, 100, 100, 0.137);
    border-width: 2px;
    padding: 20px;
}

.admin-user-list-item-container{
    display: flex;
    width: 100%;
}

.admin-user-list-item-content{
    display: flex;
    flex-direction: column;
}

.admin-user-list-item-image{
    margin-right: 20px;
}

.admin-user-list-item-delete{
    margin-left: auto;    
}

.admin-user-list-item-edit,.admin-user-list-item-details{
    margin-left: 10px;
}

.admin-user-list-item-edit,.admin-user-list-item-details,.admin-user-list-item-delete
{
    align-self: flex-end;
    cursor: pointer;
    background: rgba(4, 4, 255, 0.822);
    color: white;
    padding:4px;
    border-radius: 3px;
}

/*details*/
.admin-user-details{
    display: flex;
    flex-direction: column;
}

.admin-user-details-img{
    max-height: 200px;
    max-width: 200px;
}