.home,.posts,.information,.post-list,.post-content,.post-item-container{
    height: 100%;
}

.home{
    margin-top: 9px;
    margin-bottom: 50px;
    display: flex;
    flex-flow:row;
}

.post-item-container{
    margin: 20px;
    display: flex;
    flex-flow: column;
}


.information{
    width: 40%;
    min-width: 600px;
}

.posts ,.post-center ,.post-item-container,.post-atributes{
    width: 100%;
}

.post-center{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-center a{
    font-size: 30px;
}

.post-item{
    border-style: solid;
    border-color: rgba(99, 96, 96, 0.199);
    background: rgba(0, 128, 0, 0.050);
    border-width: 1px;
    border-radius: 3.5px;
    box-shadow: 3px 6px 14px #888888;
    height: 300px;
    width: 100%;
    margin:50px;
}


.post-title{
    margin-top: -5px;
}

.post-atributes{
    margin-top: -10px;
    display: flex;
    margin-bottom: 10px;
}

.post-atributes-item{
    margin-right: 40px;
    font-size: 20px;
    color:rgb(2, 85, 2);
}

.post-icon{
    display:flex;
    align-items: center;
}

.post_content{
    display: flex;
    height: 100%;
}


.post-picture
{
    max-width: 200%;
    max-height: 100%;
    height: 240px;
}

.post-content-text{
    width: 100%;
    margin:5px;
    margin-right: 35px;
    margin-bottom: 50px;
    overflow: hidden;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.post-content-text a{
    font-size: 20px;
}

.read-more{
    width: 200%;
    background: grey;
}

.read-more:hover{
    cursor: pointer;
}