.home{
    overflow-y: scroll;
    height: 100%
}

.post_picturediv{
    display: flex;
    justify-content: center;
}


.post_picture{
    display: block;
    max-width:100%;
    max-height:300px;
    width: auto;
    height: auto;
}

.post_list{
    display: flex;
    flex-flow:column;
    margin-left:20%;
    margin-right:20%;
    margin-top: 1%;
    
}

/* .post_item{

} */