.navbar{
  background-color: green;
  height: 7em;
  margin-top: -20px;


  display: flex;
  flex-direction: row;
}


.tab:hover,.tab:active{
  background-color: greenyellow;
}

.navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0;
  width: 50%;
}

.tab{
  background: forestgreen;
  text-decoration: none;
  display: block;
  color: white;

  width:initial;
  height:inherit;
  text-align: center;

  size: 4em;
}

.tab:hover {
  background: #1565C0;
}

@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
  .tab { 
    text-align: center; 
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255,0.3); 
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  }
  li:last-of-type a {
    border-bottom: none;
  }
}